# We divide the dataset in two different model . One for training and one for testing to see the unseen data in dataset

# We need Train test split in Supervise learning not in unsupervise learning

## Step -1 check your dataset and change it into input and output

In [3]:
import pandas as pd
dataset = pd.read_csv("BostonHousing.csv")
dataset.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [9]:

# independent data
input_data= dataset.iloc[:,:-1]
input_data

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [13]:
#dependent data
output_data= dataset['medv']

output_data

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: medv, Length: 506, dtype: float64

In [15]:
# Train test split 
from sklearn.model_selection import train_test_split

In [23]:
# use 25% for testing and remaining for training
x_train , x_test,y_train, y_test= train_test_split(input_data,output_data, test_size=0.25)

In [24]:
x_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
80,0.04113,25.0,4.86,0,0.426,6.727,33.5,5.4007,4,281,19.0,396.90,5.29
202,0.02177,82.5,2.03,0,0.415,7.610,15.7,6.2700,2,348,14.7,395.38,3.11
490,0.20746,0.0,27.74,0,0.609,5.093,98.0,1.8226,4,711,20.1,318.43,29.68
351,0.07950,60.0,1.69,0,0.411,6.579,35.9,10.7103,4,411,18.3,370.78,5.49
322,0.35114,0.0,7.38,0,0.493,6.041,49.9,4.7211,5,287,19.6,396.90,7.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...
448,9.32909,0.0,18.10,0,0.713,6.185,98.7,2.2616,24,666,20.2,396.90,18.13
242,0.10290,30.0,4.93,0,0.428,6.358,52.9,7.0355,6,300,16.6,372.75,11.22
323,0.28392,0.0,7.38,0,0.493,5.708,74.3,4.7211,5,287,19.6,391.13,11.74
206,0.22969,0.0,10.59,0,0.489,6.326,52.5,4.3549,4,277,18.6,394.87,10.97
441,9.72418,0.0,18.10,0,0.740,6.406,97.2,2.0651,24,666,20.2,385.96,19.52

In [26]:
x_train

(         crim    zn  indus  chas    nox     rm    age      dis  rad  tax  \
 105   0.13262   0.0   8.56     0  0.520  5.851   96.7   2.1069    5  384
 256   0.01538  90.0   3.75     0  0.394  7.454   34.2   6.3361    3  244
 369   5.66998   0.0  18.10     1  0.631  6.683   96.8   1.3567   24  666
 152   1.12658   0.0  19.58     1  0.871  5.012   88.0   1.6102    5  403
 358   5.20177   0.0  18.10     1  0.770  6.127   83.4   2.7227   24  666
 ..        ...   ...    ...   ...    ...    ...    ...      ...  ...  ...
 74    0.07896   0.0  12.83     0  0.437  6.273    6.0   4.2515    5  398
 379  17.86670   0.0  18.10     0  0.671  6.223  100.0   1.3861   24  666
 367  13.52220   0.0  18.10     0  0.631  3.863  100.0   1.5106   24  666
 355   0.10659  80.0   1.91     0  0.413  5.936   19.5  10.5857    4  334
 411  14.05070   0.0  18.10     0  0.597  6.657  100.0   1.5275   24  666

      ptratio       b  lstat
 105     20.9  394.05  16.47
 256     15.9  386.34   3.11
 369     20.2  375.33   3.73
 152     14.7  343.28  12.12
 358     20.2  395.43  11.48
 ..       ...     ...    ...
 74      18.7  394.92   6.78
 379     20.2  393.74  21.78
 367     20.2  131.42  13.33
 355     22.0  376.04   5.57
 411     20.2   35.05  21.22

 [379 rows x 13 columns],
 105    19.5
 256    44.0
 369    50.0
 152    15.3
 358    22.7
        ...
 74     24.1
 379    10.2
 367    23.1
 355    20.6
 411    17.2
 Name: medv, Length: 379, dtype: float64)

In [30]:
x_train.shape ,y_train.shape

((379, 13), (379,))

In [28]:
x_test.shape

(127, 13)

# we divide it in two parts